<style>
    a{
        text-decoration: none;
    }
</style>
<div class="col-2" style="background: bisque; text-decoration: none; margin-bottom: 200px;">
    <a href="/viewNews"> View News</a><br>
    <a href="/uploadNews"> Upload News</a><br>
    <a href="/viewalumni"> View Alumni</a><br>
    <a href="/addfaculty"> Add Faculty</a><br>
    <a href="#"> View Faculty</a><br>
    <a href="/logout"> Logout</a><br>
</div>