<style>
    .qualification-instance {
        /* border: 1px solid #ccc; */
        padding: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
</style>
<form action="/update">
    <div class="qualification-instance">
        <div class="form-group">
            <label for="degree">Degree</label>
            <input type="text" class="form-control" id="degree">
        </div>
        <div class="form-group">
            <label for="specialisation">Specialisation</label>
            <input type="text" class="form-control" id="specialisation">
        </div>
        <div class="form-group">
            <label for="institute">Institute</label>
            <input type="text" class="form-control" id="institute">
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" id="year">
        </div>
    </div>
    <button type="submit" class="btn btn-success" style="width: auto;"><i class="fa-solid fa-upload"></i></button>
</form>