<style>
    .experience-instance {
        /* border: 1px solid #ccc; */
        padding: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
</style>
<div class="experience-instance">
    <div class="form-group">
        <label for="designation">Designation</label>
        <input readonly type="text" class="form-control" id="designation" value="<%= experience.position%>">
    </div>
    <div class="form-group">
        <label for="from">From</label>
        <input readonly type="text" class="form-control" id="from" value="<%= experience.from%>">
    </div>
    <div class="form-group">
        <label for="to">To</label>
        <input readonly type="text" class="form-control" id="to" value="<%= experience.to%>">
    </div>
    <div class="form-group">
        <label for="organisation">Organisation</label>
        <input readonly type="text" class="form-control" id="organisation" value="<%= experience.organisation%>">
    </div>
</div>