<style>
    .award-instance {
        /* border: 1px solid #ccc; */
        padding: 10px;
        margin-bottom: 10px;
        width: 80%;
    }
</style>
<div class="award-instance">
    <div class="form-group">
        <label for="title">Award</label>
        <input type="text" class="form-control" id="title" value="<%= award.title%>">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" value="<%= award.year%>">
    </div>
    <div class="form-group">
        <label for="organisation">Awarding Organisation</label>
        <input type="text" class="form-control" id="organisation" value="<%= award.organisation%>">
    </div>
</div>