<div class="dashboard-nav"> 
    <div class="dashboard-nav-icon">
        <i class="fa-solid fa-circle-chevron-down"></i>
    </div>
    <div class="faculty-nav-head">
        <h2>Faculty Dashboard</h2>
    </div>
</div>
<div class="faculty_menu col-2">
    <div class="faculty_menu_items">
        <a href="faculty_dashboard"> Profile</a><br>
        <a href="update_faculty_experience"> Experiences</a><br>
        <a href="update_faculty_awards"> Awards</a><br>
        <a href="update_faculty_qualifications"> Qualifications</a><br>
        <a href="update_faculty_publications"> Publications</a><br>
        <a href="/logout"> Logout</a><br>
    </div>
</div>