<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'/>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/style.css"/>
<link rel="stylesheet" href="/assets/css/carousal.css"/>
<link rel="stylesheet" href="/assets/css/media-queries.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<title>DAV PG College</title>
</head>
<body>

  <div class="">
    <div class="ticker">
        <div class="news-title">
            <img src="/assets/img/speak.png" width="50px"/>
        </div>
        <div class="news">
            <marquee class="news-content" onmouseover="this.stop();" onmouseout="this.start()";>
              <% for(var i=0; i<send.length; i++){ %>
                <% if(send[i].Type == "Marquee"){ %>
                    <a href="/docs/<%= send[i].Link %>" target="_blank" >
                      <img src="/assets/img/33.gif"></img><%= send[i].Title %>
                    </a>
                <% } %>
              <% } %>
            </marquee>
        </div>
    </div>
</div>

  <div class="topcontain">
  <!-- <a href="/"><img src="./assets/img/logo1.jpg" style="width:100%"/></a> -->
   <a href="/"><img src="/assets/img/logo2.jpg" style="width:80%"/></a>
    <div style="width: max-content;display: flex;align-items:center;justify-content: center;"><img src="/assets/img/logo3.png" style="width:10vw"/>
    <img src="/assets/img/logo4.png" style="width:10vw"/></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><div class="logo"><img src="/assets/img/logo1.jpg" /></div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="z-index: 9999;"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/history">History</a>
            <a class="dropdown-item" href="/vission">Vision and Mission</a>
            <a class="dropdown-item" href="/code_of_conduct">Code of Conduct</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Governing Body</a>
            <a class="dropdown-item" href="/m_message">Manager's Message</a>
            <a class="dropdown-item" href="/p_message">Principal's Message</a>
            <a class="dropdown-item" href="#">Public Relation Officer</a>
            <a class="dropdown-item" href="http://ddugu.ac.in/OrdinanceRules.aspx" target="_blank">DDU Act & Statute</a>
            <a class="dropdown-item" href="https://uphed.gov.in/HigherEduDirectorate/DefaultDir.aspx" target="_blank">Directerate, UP Higher Education</a>
            <!--<a class="dropdown-item" href="#">Committees</a>-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Committees
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/practorial">Practorial Board</a>
              <a class="dropdown-item" href="/grievance">Grievance Cell</a>
              <a class="dropdown-item" href="/research">Research & Innovation</a>
              <a class="dropdown-item" href="/literary">Literary Club</a>
              <a class="dropdown-item" href="/career">Career Counselling and Placement</a>
              <a class="dropdown-item" href="/sexual">Committee Against Sexual Harassment</a>
              <a class="dropdown-item" href="/iqac">IQAC</a>
            </div>
          </div>
        </li>
        </ul>
        <!--
        <li class="nav-item active">
          <a class="nav-link" href="#">Faculties and Staff</a>
        </li>-->
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Academics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Programmes Offered
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ba">Bachelor of Arts</a>
              <a class="dropdown-item" href="/bsc">Bachelor of Science</a>
              <a class="dropdown-item" href="/ma">Master of Arts</a>
              <a class="dropdown-item" href="/bcom">Bachelor of Commerce</a>
            </div>
            <a class="dropdown-item" href="#">Library</a>
            <!--<a class="dropdown-item" href="#">Faculty of Arts</a>
            <a class="dropdown-item" href="#">Faculty of Science</a>
            <a class="dropdown-item" href="#">Faculty of Commerce</a>
            <a class="dropdown-item" href="#">Academic Calender</a>
            <a class="dropdown-item" href="#">List of Holidays</a>
            <a class="dropdown-item" href="#">Time Table</a>
            <a class="dropdown-item" href="#">UG Courses</a>
            <a class="dropdown-item" href="#">PG Courses</a>
            <a class="dropdown-item" href="#">Fee Structure</a>
            <a class="dropdown-item" href="#">Seminar/Guest Lecture/Workshop</a>
            <a class="dropdown-item" href="#">Research</a>
            <a class="dropdown-item" href="#">Best Practices</a>-->
          </div>
        </li>
        </ul>
        <!--
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Facilities
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Conference Hall</a>
            <a class="dropdown-item" href="#">Library</a>
            <a class="dropdown-item" href="#">Multipurpose Hall</a>
            <a class="dropdown-item" href="#">Smart Class Room</a>
            <a class="dropdown-item" href="#">Sport Ground</a>
            <a class="dropdown-item" href="#">Health Facility</a>
            <a class="dropdown-item" href="#">Computer Lab</a>
            <a class="dropdown-item" href="#">Departmental Library</a>
          </div>
        </li>-->
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admissions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/admission">Admission Procedure</a>
            <a class="dropdown-item" href="/assets/docs/prospectus-2023.pdf" target="_blank">Prospectus</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alumni
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/alumnireg">Registration</a>
            <a class="dropdown-item" href="#">Alumni Association Members</a>
            <a class="dropdown-item" href="#">Event Gallery</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Cultural</a>
            <a class="dropdown-item" href="#">Sports</a>
            <a class="dropdown-item" href="#">NCC/NSS</a>
            <a class="dropdown-item" href="#">Rovers & Rangers</a>
            <a class="dropdown-item" href="#">Quiz & Seminar</a>
            <a class="dropdown-item" href="#">Workshops</a>
          </div>
        </li>
      </ul>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Photo Gallery</a>
            <a class="dropdown-item" href="#">Video Gallery</a>
            <a class="dropdown-item" href="#">In New Paper</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            IQAC
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">IQAC Committee</a>
            <a class="dropdown-item" href="#">IQAC Activities</a>
            <a class="dropdown-item" href="#">Minutes of Meetings</a>
            <a class="dropdown-item" href="#">Initiatives and Action Taken Report</a>
            <a class="dropdown-item" href="#">Feedback</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">RTI</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NAAC
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">SSR</a>
        </li>-->
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">IQAC</a>
          </li>
        </ul>  
        <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>