<%- include('./partials/header') -%>
<div class="head_title">ADMISSION PROCEDURE</div>
<div class="page_content">    
    <div>
        डी ए वी पी जी कॉलेज गोरखपुर में इस वर्ष स्नातक और परास्नातक प्रवेश प्रक्रिया ऑफलाइन एवं ऑनलाइन द्वारा की जा रही है । ऑनलाइन एडिमशन एप्लीकेशन फॉर्म सत्र 2023-2024 के लिए Click Here पर क्लिक करें ।
    </div>
    <div>
        <h4>प्रवेश फार्म भरने से लेकर परीक्षा फार्म भरने तक का सामान्य प्रक्रिया</h4>
        <ol>
            <li>
                कार्यालय काउन्टर से प्रवेश फार्म प्राप्त करना ।
            </li>
            <li>
                प्रवेश फार्म को वांछित समस्त अभिलेखों की छायाप्रति के साथ कार्यालय काउन्टर पर निर्धारित तिथि तक जमा करना ।
            </li>
            <li>
                कार्यालय काउन्टर पर प्रवेश फार्म जमा कर प्रवेश काउंसलिंग की सूचना प्राप्त करना ।
            </li>
            <li>
                निर्धारित काउन्सलिंग तिथि पर स्वयं उपस्थित होकर समस्त मूल अभिलेखों (हाईस्कूल एवं इंटरमीडएट का अंकपत्र, जाति प्रमाण पत्र, टी० सी०, चरित्र प्रमाण पत्र, 3 पास पोर्ट साइज फोटो आदि ) के साथ प्रवेश सुनिश्चित करना ।
            </li>
            <li>
                काउंसलिंग में प्राप्त शुल्क चालान में अंकित निर्धारित तिथि में प्रवेश शुल्क बैंक में जमा कर अपना प्रवेश सुनिश्चत कराना ।
            </li>
            <li>
                बैंक से प्राप्त मोहर लगी शुल्क चालान (छात्र प्रति ) में अंकित निर्धारित तिथि में कार्यालय से सम्पर्क कर अपना लेजर न०अंकित कराना ।
            </li>
            <li>
                कार्यालय द्वारा लेजर न० प्राप्त होने के पश्चात कार्यालय से अपना प्रथम सेमेस्टर परीक्षा फार्म भर कर उसकी प्राप्ति अवश्य प्राप्त करना ।
            </li>
            <li>
                कार्यालय द्वारा लेजर न०प्राप्त होने के पश्चातकार्यालय में शुल्क रसीद (छात्र प्रति ) प्रस्तुत कर महाविद्यालय द्वारा जारी पहचान पत्र अवश्य प्राप्त करना ।
            </li>
            <li>
                शुल्क रसीद (छात्र प्रति ) पुस्तकालय काउन्टर पर प्रस्तुत कर पुस्तकालय कार्ड प्राप्त करना ।
            </li>
        </ol>
        <div>
            <b>नोट:</b> सेमेस्टर परीक्षा फार्म न भर पाने वाले छात्र/ छात्रा विश्वविद्यालय की सेमेस्टर परीक्षा से वंचित हो जायेंगे जिसकी समस्त जिम्मेदारी स्वयं सम्बन्धित छात्र/ छात्रा की होगी । महाविद्यालय प्रशासन उसके लिए किसी भी प्रकार से जिम्मेदार नही होगा ।
        </div>
    </div>
    <div>
        <h4>Terms & Conditions</h4>
        <div>
            Admission in B.A./B.Sc./B.Com / M. A. 1st Semester will be done on the basis of Class 12 (10+2) Marks (Merit Based). After securing merit candidates have to follow proper procedure to get admission in college.
            <br>
            Admission Form with Bulletin/Brochure can be obtained by depositing Four Hundred Fifty Rupees (Rs 450) in cash from the college counter.
            <br>
            Fully filled Admission form with all attachments will be submitted at college counter. Please take a deposit slip after submitting the admission form.
        </div>
        <b>Documents, need to be attached with admission application form as required for the courses</b>
        <ol>
            <li>
                Photo copy of High School Mark sheet.
            </li>
            <li>
                Photo copy of Intermediate Mark Sheet.
            </li>
            <li>
                Photocopy of Graduation Mark sheet & Certificate.
            </li>
            <li>
                If belong to reserved category, photocopy of cast certificate issued by competent authority.
            </li>
            <li>
                Photocopy of the respective certificate for the surcharge / weightage (if requested).
            </li>
        </ol>
        <div>
            <b>Note–</b> All attachments should be submitted with your signature
        </div>
        <b>Documents required at the time of counseling as required.</b>
        <ul>
            <li>
                Photo copy of High School Mark sheet.
            </li>
            <li>
                Photo copy of Intermediate Mark Sheet.
            </li>
            <li>
                Photocopy of Graduation Mark sheet & Certificate.
            </li>
            <li>
                Character certificate issued by Principal/Head of last Institute.
            </li>
            <li>
                Original of Transfer Certificate issued by Principal/Head of last Institute.
            </li>
            <li>
                Surcharge / Weightage (if requested), the original copy of the certificate required to confirm it.
            </li>
            <li>
                Candidates of Scheduled Caste / Backward Classes/EWS (who have applied under reserved category) should submit the original copy of computerized certificate issued by the competent authority /magistrate.
            </li>
            <li>
                Two Ticket size photo of same type of candidate.
            </li>
            <li>
                The office receipt of the admission application form receiving will be deposited in the bank.
            </li>
        </ul>
        <div>
            Minimum 40 % marks is mandatory in 10+2 for general category who wish to get admission in first semester while this condition would not be applied for the candidates of Scheduled Castes/ Scheduled Tribes and Other Backward Castes.
            <br>
            21 Percent, 2 Percent and 27 Percent seats are reserved for scheduled caste, Scheduled Tribes and backward castes (below creamy layer) respectively.
            <br>
            University provides the facility to appear in examination as ex-student to those who have failed in first semester examination of B.A./B.Sc./B.Com./ M. A.
            <br>
            If any information found incorrect filled by candidate, such students will not be allowed to take admission or her/his admission will automatically be cancelled and disciplinary action will be taken against the student for hiding facts.
        </div>
    </div>
    <div>
        <h4>Permissible weightage</h4>
        <ul>
            <li>
                3% For Female Students.
            </li>
            <li>
                3% for NCC – 'C' Certificate Holders.
            </li>
            <li>
                2% for NCC- ‘B’ Certificate Holders.
            </li>
            <li>
                3% for National level Players
            </li>
            <li>
                3% for Physically Handicapped
            </li>
            <li>
                2% for District Level /State Level Players
            </li>
            <li>
                2% for Dependents of Late Freedom Fighters, Ex-Soldiers
            </li>
            <li>
                10% to Dependents of college teachers/staff
            </li>
            <li>
                2% for Scout/Guide/NSS Certificate
            </li>
        </ul>
        <div>
            As per the university brochure, In any case, no refund is applicable if candidate will not fulfil the minimum qualifying criteria. Any change in the rules and procedures given in the college brochure and all the authority to introduce new rules and regulations is with the Principal. Principal of college have all authority to change rules and procedures given in college brochure and to introduce new rules and regulations.
            <br>
            The college reserves the right to reject admission of any applicant without reason. No applicant can ask for admission as an authority, even if he holds all qualification of admission. Any institutional student college will be considered as bona-fide student till June 30 in the respective session. After the admission the abusive action would be taken against the applicant and his name would be cut from the college register if in case he would be found that he had made a false statement, or concealed any facts.
        </div>
    </div>
    <div>
        <h4>Publication of Merit List for Admission</h4>
        <div>
            Merit List of eligible candidates for admission in first semesterofB.A./B.Sc./B.Com./ M. A. for each category will be available within one week after the last date for submission of application form on college website. It is the duty of the candidate to be aware of the information of date for further procedures related to the admission.
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>