<%- include('./partials/admin_header') -%>
<body>
<h2 style="text-align: center; margin-top: 20px;">Admin Dashboard</h2>
<div class="row" style="margin-left: 100px; margin-right: 100px;margin-top: 20px;">
    <%- include('./partials/admin_menu') -%>
    <div class="col-10" style="text-align: center;">
        <b>Welcome to DAV PG College Admin Panel</b>
    </div>
</div>
</body>
</html>