<%- include('./partials/header') -%>
<div class="head_title">ALUMNI CELL</div>
<div class="page_content">    
    <div>
        We invite and solicit the presence of all former students of our college who had got admission in the college and completed at least one year/semester in a degree program (UG/PG). Our college takes great pride in the achievements and accomplishments of our alumni. We wish to bring valuable pieces of advice, experiences and any other contribution from our alumni that are needed to help improve and serve our college and the society at large. Therefore, college has constituted an alumni cell to provide a platform for our alumni to increase their involvement with their alma mater and foster interaction between them. It is an effort to stay connected with one another and the college, and to share knowledge and skills. Through this forum we wish to remain updated with the latest achievements of our alumni and not be deprived of the joy of accomplishment. We are one big family and share and rejoice in the success of one another. This alumni cell will help in renewing the bonds and associations of old which are a treasure in these days of weakening family and social bonds. For us alumni are not our past or former students - they are our future who may make strong contributions to the welfare of their alma mater.
    </div>
    <div>
        <h4>Alumni Registration Form</h4>
        <div class="container4" style="margin-left: auto; margin-right: auto;">
            <div class="content">
              <form action="/reg_sub" method="post" enctype="multipart/form-data">
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Name</span>
                    <input type="text" name="name" placeholder="Enter your name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Father Name</span>
                    <input type="text" name="father" placeholder="Enter your Father Name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Mother Name</span>
                    <input type="text" name="mother" placeholder="Enter your Mother Name" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" name="email" placeholder="Enter your Email" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Moble No(WhatsApp No.)</span>
                    <input type="text" name="MoNo" placeholder="Enter your Mobile Number" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Date of Birth</span>
                    <input type="date" name="dob" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" name="Address" placeholder="Address" required>
                  </div>
                  <div class="input-box">
                    <span class="details">Profile Picture</span>
                    <input type="file" name="photo" id="photo" required />
                  </div>
                </div>
                <div class="input-box">
                    <span class="details">Gender</span>
                    <select class="form-select" name="gender" aria-label="Default select example">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <span class="details" style="text-align: center; padding-top: 30px;"><b>Highest Degree Obtained from D.A V P G COLLEGE Gorakhpur:</b></span>
                    <div class="user-details">
                        <div class="input-box">
                          <span class="details">Name of Degree</span>
                          <select class="form-select" name="degree" aria-label="Default select example">
                            <option value="B.A.">B.A.</option>
                            <option value="B.Sc.">B.Sc.</option>
                            <option value="B.Com.">B.Com.</option>
                            <option value="M.A.(History)">M.A.(History)</option>
                            <option value="M.A.(Political Science)">M.A.(Political Science)</option>
                          </select>
                        </div>
                        <div class="input-box">
                            <span class="details">Year of Obtaining Degree</span>
                            <input type="text" name="year" placeholder="Year" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Present Status/Designation</span>
                            <input type="text" name="designation" placeholder="Present Status/Designation:" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Address of Working Place</span>
                            <input type="text" name="workingplace" placeholder="Address of Working Place" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Any specialization</span>
                            <input type="text" name="specialization" placeholder="Any specialization">
                        </div>
                    </div>
                </div>
                <div class="button">
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
<% if (error) {  %>
    <script>alert('Data Submitted Successfully');</script> 
<% } %>
<%- include('./partials/footer') -%>