<%- include('./partials/header') -%>
<div class="head_title">BACHELOR OF ARTS (B.A.)</div>
<div class="page_content">    
    <div>
        The Bachelor of Arts faculty in the college has a total of 10 topics including Hindi, English, Sanskrit, History, Political Science, Sociology, Economics, Education, Psychology and Geography. 
        <br>
        Subject Groups are mentioned below-
        <ul>
            <li>Hindi</li>
            <li>English</li>
            <li>Sanskrit</li>
            <li>History</li>
            <li>Political Science</li>
            <li>Sociology</li>
            <li>Economics</li>
            <li>Education</li>
            <li>Psychology</li>
            <li>Geography</li>
        </ul>
        Enrolled number of students of each subject is determined by keeping in mind the maximum space by the university and the resources of the college in each subject. Allotment of the subjects will be done on the merit of the student and the number of available seats.
    </div>
</div>
<%- include('./partials/footer') -%>