<%- include('./partials/header') -%>
<div class="head_title">BACHELOR OF COMMERCE (B.Com.)</div>
<div class="page_content">    
    <div>
        ommerce department was established in 2019 and is thus it is the newest department in the college. Department has threefaculty members and they are known for their expertise in finance, marketing management, banking and impart practical knowledge of the discipline in auditing, company law and income tax. Since commerce students have to deal with the fast-paced business world which they all dream of entering in the future, the main focus of the commerce department is to create a stimulating environment for the growth of its students and to provide them with a thorough understanding of a range of subjects such as business organization, financial accounting, corporate law, economic theory and business communication. Teachers remain available to students at all times.
    </div>
</div>
<%- include('./partials/footer') -%>