<%- include('./partials/header') -%>
<div class="head_title">BACHELOR OF SCIENCE (B.Sc.)</div>
<div class="page_content">    
    <div>
        The candidates interested to take admission in first year of B.Sc. can select any one of the below mentioned Subject Group.
        <br>
        <b>Mathematics : </b>Chemistry, Physics, Mathematics
        <br>
        <b>Biology : </b>Chemistry, Zoology, Botany
        <br>
        By keeping in mind the maximum space by the university and the resources of the college, enrollment will be allotted in B.Sc. mathematics and B.Sc. Biology.
    </div>
</div>
<%- include('./partials/footer') -%>