<%- include('./partials/header') -%>
<div class="head_title">CONTACT US</div>
<div class="page_content">    
    <div class="row g-0" style="text-align: center;">
        <div class="col">
            <img src="/assets/img/mob.png"></img>
            <br><b>+91551 3500218</b> 
        </div>
        <div class="col">
            <img src="/assets/img/email.png"></img>
            <br><b>principaldavpgc@gmail.com</b>
        </div>
        <div class="col">
            <img src="/assets/img/address.png"></img>
            <br><b>DAV PG College, Nasirabad,
              <br>  Buxipur, Gorakhpur 273001</b>
        </div>
    </div>
    <div class="row g-0" style="text-align: center;margin-top: 100px; margin-bottom: 50px;">
        <div class="col">
            <b>Reach to Us</b><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3562.6822660222047!2d83.35514307425004!3d26.754513666873322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991446b49e31073%3A0x1d54eef9f684bf80!2sD.A.%20V.%20P.G.%20College!5e0!3m2!1sen!2sin!4v1691674454516!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>