<%- include('./partials/header') -%>

<div style="height: auto;">
    <div class="main-box">
        <div class="basic-card p-3">
            <div class="profile_pic_resume ">
                <div class="text-center">
                    <img src="http://www.mmmut.ac.in/News_content/IMGFaculty198.jpg">
                </div>
                
                <div class="resume_box text-center mt-3" >
                    <span class="bg-secondary p-1 px-4 rounded text-white" >
                        Resume
                    </span>            
                </div> 
            </div>
            <div class="basic_details">
                <h3>Dr. Rohit Kumar Tiwari</h3><hr>
                <h5>Assistant Professor</h5><hr>
                <div> <i class="fa fa-phone"></i> 1234567890 </div><hr>
                <div> <i class="fa fa-envelope"></i> abcd@gmail.com </div><hr>
                <div> Computer Science and Engineering</div><hr>
                <div><strong>Area of Interest:</strong> Cloud Computing, Computer Vision, Image Processing</div><hr>
            </div>
        </div>
        <div class="basic-card added-facutly-details">
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div><hr>
        </div>
        <div class="basic-card added-facutly-details">
            <div class="basic-header" >
                <h4>Publications</h4>
            </div>
            <div class="info-item" style="margin-top: 15px;">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
        </div>
        <div class="basic-card added-facutly-details">
            <div class="basic-header" >
                <h4>Experiences</h4>
            </div>
            <div class="info-item" style="margin-top: 15px;">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
            <div class="info-item">
                <h6>Highest Qualification</h6>
                <p>Ph.D. (Computer Science and Engineering)</p>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') -%>