<%- include('./partials/header') -%>
<div class="head_title">GOVERNING BODY</div>
<div class="page_content">
    <table class="table table-hover" style="width:70%;margin-left: auto;margin-right: auto;">
        <tbody>
          <tr>
            <th scope="row">Shri Chaudhary Pramod Kumar</th>
            <td>President</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sharad Srivastava</th>
            <td>Senior Vice President</td>
          </tr>
          <tr>
            <th scope="row">Shri Ajeet Kumar Jauhari</th>
            <td>Junior Vice President</td>
          </tr>
          <tr>
            <th scope="row">Shri Ranveer Shanker</th>
            <td>Manager</td>
          </tr>
          <tr>
            <th scope="row">Shri Prabhat Kumar Srivastava</th>
            <td>Joint Secretary</td>
          </tr>
          <tr>
            <th scope="row">Shri Ashtabhuja Das</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri Ganga Dayal Srivastava</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri Rakesh Chandra Verma</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri Veerendra Kumar Srivastava</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri V. K. Singh</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri Jagdamba Jaiswal</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Shri Devendra Nath Srivastava</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Prof. Shail Pande</th>
            <td>Principal</td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer') -%>