<%- include('./partials/header') -%>
<div class="head_title">LITERARY CLUB</div>
<div class="page_content">
    <table class="table table-hover" style="width:70%;margin-left: auto;margin-right: auto;">
        <tbody>
          <tr>
            <th scope="row">Prof Praveen Sinha</th>
            <td>Convener</td>
          </tr>
          <tr>
            <th scope="row">Dr Amrita Srivastava</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr Sanjay Srivastava</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sanjay Mishra</th>
            <td>Member</td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer') -%>