<%- include('./partials/header') -%>
<div class="head_title">MANAGERS’S MESSAGE</div>
<div class="page_content">    
    <div class="row g-0">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="/assets/img/faculty.png" class="img-fluid center"></img>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12" style="padding-bottom: 20px; line-height: 2; font-size: 20px;">
            राष्ट्रीय शिक्षा नीति के द्वारा शिक्षा रचनात्मक क्रान्ति के दौर से गुजर रही है। शिक्षण के तरीकों में बदलाव आए है।
            <br>
            डी0ए0वी0पी0जी0 कॉलेज,गोरखपुर अपने प्रगतिशील विचारो के साथ नवीन शिक्षण विधियों के अनुरूप विद्यार्थियों को संवारना ओर उन्हे भविष्य की चुनौतियों का सामना करने में सक्षम बना रही है।
            <br>
            पूर्वांचल के सुदूर ग्रामीण क्षेत्रों के साथ-सीमावर्ती नेपाल व बिहार के विद्यार्थी भी संस्था से शिक्षा प्राप्त कर देश व विदेश में अपनी पहचान बना रहे हैं।
            <br>
            महाविद्यालय परिवार उच्चतर जीवन मूल्यों के संवंर्धन के लिए संकल्पित है।
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>