<%- include('./partials/header') -%>
<div class="head_title">BACHELOR OF ARTS (B.A.)</div>
<div class="page_content">    
    <div>
        Permanent recognition in political science and history (medieval and modern) under the self-financed curriculum at the postgraduate level in college is approved by the government. The seats in the classes are as follows.
        <br>
        <ul>
            <li>M.A. First year Political Science = 60 Seats</li>
            <li>M.A. First Year History = 60 Seats</li>
        </ul>
    </div>
</div>
<%- include('./partials/footer') -%>