<%- include('./partials/header') -%>
<div class="head_title">NON TEACHING STAFF</div>
<div class="page_content">    
    <h4>Non Teaching Staff</h4>
    <div class="row" style="text-align: left;">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <ul>
                <li>Sri Chandramohan Srivastava, <i>Office Superintendent</i></li>
                <li>Sri Raghvendra Kumar, <i>Clerk</i></li>
                <li>Sri Gyan Prakash Rai, <i>Stenographer</i></li>
                <li>Sri Ankit Kumar, <i>Clerk</i></li>
                <li>Sri Nigmendra Pratap Pandey, <i>Clerk</i></li>
                <li>Vaishnavi Sushil, <i>Clerk</i></li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <ul>
                <li>Sri Veer Vikram Shahi, <i>Library Assistant</i></li>
                <li>Sri Ram Bhavan Kannaujia, <i>Library Assistant</i></li>
                <li>Sri Sudhanshu Mishra, <i>Lab Assistant</i></li>
                <li>Sri Chandrasen Sonkar, <i>Lab Assistant</i></li>
                <li>Sri Master Rajiv Kumar Chaudhary, <i>Lab Assistant</i></li>
            </ul>
        </div>
    </div>
    <h4>Other Staff</h4>
    <div class="row" style="text-align: left;">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <ul>
                <li>Sri Ramakant</li>
                <li>Sri Vinod Kumar Singh</li>
                <li>Sri Manoj Kumar</li>
                <li>Sri  Rajendra Prasad</li>
                <li>Sri Rakesh Kumar Yadav</li>
                <li>Sri Manish Kumar Yadav</li>
                <li>Sri Amit Kumar Rai</li>
                <li>Sri Arun Kumar Srivastava</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <ul>
                <li>Sri Premchand</li>
                <li>Sri Akhilesh Kumar</li>
                <li>Sri Ali Ahmad</li>
                <li>Sri Jai Pratap Yadav</li>
                <li>Sri Dinesh Kumar Yadav</li>
                <li>Sri Mevalal Gupta</li>
                <li>Sri Dharmdev</li>
                <li>Sri Yashvant Singh</li>
            </ul>
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>