<%- include('./partials/header') -%>
<div class="head_title">PRINCIPAL’S MESSAGE</div>
<div class="page_content">    
    <div class="row g-0">
        <div class="col-sm-4 col-md-4 col-xs-12">
            <img src="/assets/img/p4.JPG" class="img-fluid center"></img>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12" style="padding-bottom: 20px;">
            “Education helps one to acquire knowledge, culture, righteousness and eradicates evil habits and ignorance” (Dayanand Saraswati)
            <br>
            Aryan Educational Society established D.A.V.P.G. College Gorakhpur to inculcate values with rationalethinking amongst students who are torchbearer of the future society. Education imparts true and real knowledge about nature, self -development and welfare of all living beings.             
            <br>
            In this era of information technology where all information is available at our fingertips, we at DAVPG College, Gorakhpur emphasise on knowledge-based learning with the help of dedicated and well qualified teachers. Well-equipped laboratory strengthensthe practical learning of concepts.
            <br>
            The college gives equal opportunity to each and every student to bring out best of them.The college has all the amenities for all round development of students. Sports events are organised to give students anopportunity to show their grit, stamina and Cultural activities allow them to explore their creativity.
            <br>
            Students are encouraged to be apart of active units of NCC, NSS and Rovers and Rangers; these platforms give students anopportunity to learn and enhance their life skills.
            <br>
            We at DAVPG College, Gorakhpur are here with the mission to provide quality education with all round development of students through a team of dedicated teachers,motivated students and encouraging parents.
        </div>
    </div>
</div>
<%- include('./partials/footer') -%>