<%- include('./partials/header') -%>
<div class="head_title">PRACTORIAL BOARD</div>
<div class="page_content">
    <table class="table table-hover" style="width:70%;margin-left: auto;margin-right: auto;">
        <tbody>
          <tr>
            <th scope="row">Prof. Prabeen Sinha</th>
            <td>Convener</td>
          </tr>
          <tr>
            <th scope="row">Dr. Ajay Kirti Tiwari</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Vinod Kumar Gupta</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Snehlata Tiwari</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sanjay Kumar Pandey</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Rajesh Rai</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Sri Bimlesh Kushwaha</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sanjay Kumar</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Amrendra Kumar Pandey</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sugandha Pandey</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Pankaj Tiwari</th>
            <td>Member</td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer') -%>