<%- include('./partials/header') -%>
<div class="head_title">COMMITTEE AGAINST SEXUAL HARASSMENT</div>
<div class="page_content">
    <table class="table table-hover" style="width:70%;margin-left: auto;margin-right: auto;">
        <tbody>
          <tr>
            <th scope="row">Dr. Amrita Tripathi</th>
            <td>Convener</td>
          </tr>
          <tr>
            <th scope="row">Dr. Snehlata Tiwari</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Preeti Sharma</th>
            <td>Member</td>
          </tr>
          <tr>
            <th scope="row">Dr. Sugandha Pandey</th>
            <td>Member</td>
          </tr>
        </tbody>
      </table>
</div>
<%- include('./partials/footer') -%>