<%- include('./partials/header') -%>
<div class="head_title">SYLLABUS</div>
<div class="page_content">    
    <ul>
        <li><a href="/assets/docs/BA_Syllabus.pdf" target="_blank">BA Syllabus All Subjects</a></li>
        <li><a href="/assets/docs/Bsc_Math_Syllabus.pdf" target="_blank">B.Sc. (Maths) Syllabus</a></li>
        <li><a href="/assets/docs/Bsc_Bio_Syllabus.pdf" target="_blank">B.Sc. (Bio) Syllabus</a></li>
        <li><a href="/assets/docs/MA_Political_Science.pdf" target="_blank">MA Political Science Syllabus</a></li>
    </ul>
</div>
<%- include('./partials/footer') -%>