<%- include('./partials/header') -%>
<div class="head_title">TIME TABLE</div>
<div class="page_content">    
    <ul>
        <li><a href="/assets/docs/Time_Table_BA.pdf" target="_blank">Time Table BA</a></li>
        <li><a href="/assets/docs/Time_Table_BSc.pdf" target="_blank">Time Table B.Sc.</a></li>
    </ul>
</div>
<%- include('./partials/footer') -%>