<%- include('./partials/header') -%>
<div class="head_title">VISION AND MISSION</div>
<div class="page_content">
    <div>
        <h4>VISION</h4>
        <div>
            <i> Yad Bhadram Tanna Asuva</i>, the fundamental part of Arya Samaj Vedic prayer in the logo of college set down its understanding of  such an education system which keeps one away from all evil leanings and enriches with whatever is good, noble and auspicious.
        </div>  
        <div>
            DAV PG college envisions to become one of the leading learning centers of the nations that provides value based quality education for the empowerment of the society. To enliven this vision, we emphasize over the constant learning process, enrichment of sensitivity towards gender issues and environmental sustainability, inculcation of moral values and ethics among all its members so as to produce citizens which can work for nation prosperity and betterment of the society.
        </div>
    </div>
    <div>
        <h4>MISSION</h4>
        <ul>
            <li>
                To Impart value based, quality education in all fields of science, arts and commerce.
            </li>
            <li>
                To create a teaching-learning environment where education can be made available without any discrimination of caste, colour, gender and religion.
            </li>
            <li>
                To Promote awareness on environmental issues and sensitize students towards their social responsibility.
            </li>
            <li>
                To promote use of ICT and e-learning.
            </li>
            <li>
                To promote holistic development.
            </li>
        </ul>
    </div>
</div>
<%- include('./partials/footer') -%>