*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: fade 1s;
  font-size: 15px;
}


marquee a{
color:rgb(255, 255, 255);
font-weight: bold;
text-decoration: none;
font-size: 15px;
margin-right: 20px;
}

.topcontain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:100px
}

.topcontain div img{
  margin: none;
}

.navbar{
  background-color: rgb(255, 255, 255);
  z-index: 999;
  position: sticky;
  top: 0px;
  z-index: 999;
}
.nav-link{
  color:rgb(255, 106, 0);
}
.navbar-nav li:hover > .dropdown {
  display: block;
  color: white;
  text-decoration: none;
}
.nav-link:hover{
  background-color: #ff5e14;
  color:white;
  display: block;
}
@media screen and (min-width:1155px) and (max-width:1455px) {
  .navbar-nav{
    font-size: 80% !important;
  }
}
@media screen and (min-width:900px) and (max-width:1155px) {
  .navbar-nav{
    font-size: 70% !important;
  }
}
@media screen and (max-width:900px) {
  .navbar-nav{
    font-size: 75% !important;
  }
  .navbar .navbar-collapse {
    background: #f8f8f8;
    position: relative;
    width: 100%;
  }
  .nav-link{
    text-align: center;
  }
  .dropdown-item{
    text-align: center;
    font-size: 8px !important;
  }
  .dropdown-menu{
    background-color: rgb(255, 111, 0);
  }
  .dropdown-menu a{
    color:white;
  }
}


.gallery {
  /* height: 33vw; */
  position: absolute;
  background: #EEE;
  /* overflow: hidden; */
}

.corimg{
  box-shadow: inset 0vw 20px  15vw black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corimg img{
  filter: brightness(100%);
}

.mainimg{
  filter: brightness(70%) !important;

}
.corimg span{
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  z-index: 999;
  background-color: rgb(255, 153, 0);
  padding: 20px;
  color:white;
  bottom: 3rem;
  left: 0px;
  border-top-right-radius: 40px;
}
.welcome{
  font-size: 60px;
  position: absolute;
  background-color: transparent;
  z-index: 999;
  font-weight: 900;
  margin: auto;
  color:white;
  bottom: 50%;
  border-top-right-radius: 40px;
  animation: trans 1s ;
  text-shadow: 0 0 40px black;
}


@media screen and (min-width:750px)and(max-width:925px) {
  .corimg span{
    font-size: 1rem;
  }
}
@media screen and (max-width:750px) {
  .corimg span{
    font-size: 1.2rem;
  }
}
.gallery-cell img{
  width: 100vw;
  z-index: -1;
}

@keyframes trans {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);

  }
}
/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.gallery-cell {
  width: 100%;
  height: 43vw;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-button{
  background-color: #ff5e14;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: rgb(0, 0, 0);
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: rgb(255, 94, 13);
}

.honour{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  padding: 13vw 20px 20px 20px;
}
.contain{
  display:flex;
  flex-direction:column;
  background-size:cover;
  width:35%;
  height:max-content;
  align-items: center;
}

.contain img{
  border: 5px solid white;
  width:11.458vw;
  height:11.458vw;
  border-radius:50%;
  box-shadow: 1px 5px 5px black;
}
.ytframe {
  position: relative;
  top: 0; bottom: 0; left: 0;
  width: 200%;
  height: 15vw;
  border: 5px solid white;
  margin-bottom: 30px;
}
.contain2{
  color:white;
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content:center;
  background-color:rgb(237, 154, 0);
  box-shadow: 0px 2px 5px black;
  position:relative;
  top:-2.604vw;
  font-size: 0.881vw;
  height: 4.125vw;
  border-radius: 2.718vw;
  width:15.021vw;
}
.contain2 div{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  line-height: 1vw;
  height: 100%;
}

.about{
  display: flex;width: 100%;height: max-content;
}

@media screen and (max-width:1200px) {
  .about{
    flex-direction: column;
  }
  .about .ytframe{
    width: 100%;
    height:  30vw;
  }
  .about p{
    text-align: center !important;
    margin-left:0vw !important;
  }
}
@media screen and (max-width:700px) {
.contain2 div{
  margin-top: 20%;
}
}

.logo{
  display: none;
}

.logo img{
  width:60%;
}

@media screen and (max-width:989px) {
  .logo{
  display: block;
  }
  .topcontain{
  display: none;
  }
}
@media screen and (max-width:400px) {
  .navbar-brand{
    width: 50%;
  }
}




.newsevent{
  margin-top: 6vw;
  width:100%;
  background-color: #ffffff33;
  height: max-content;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.newsevent h2{
  color:#dd4c39 !important;
  margin: 2rem;
}
.newsevent .events h2{
  color:#ffffff !important;
}
.events{
  display: flex;
  flex-direction: column;
  margin: 6vw;
  width:400px;
  background-color: rgb(255, 94, 13);
  height: 400px;
  align-items: center;
  overflow:hidden;
  border-radius: 5px;
}
.events ul{
  padding: 0px;
  display: flex;
  margin: 5px;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}
.events ul li{
  color:rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  list-style: none;
  margin: 5px;
  width:100%;
  background-color: #ffffff;
  height: 40px;
}


.ticker {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  right: 0px;
  z-index: 9990;
  font-family:'Oswald',serif;
  height: 50px;

}

.news {
  width: 100%;
  background: #fff;
  border: solid 1px #c83210;
}
.news-title {
  width: 100px;
  text-align: center;
  background: #c82f10;
  position: absolute;
  z-index: 999;
  height: 50px;
    text-shadow: 1px 1px #000;
}
.news-title:after {
  position: absolute;
  right: -39px;
  top: 0px;
}
.news-title h5 {
  font-size: 14px;
  margin: 14% 0;
  color: #fff;
  padding: 0px 5px;
}
.news marquee {
  font-size: 16px;
  margin-top: 13px;
}
.news-content a {
  margin-right: 41px;
  display: inline;
  color: #222;
}
.items {
  margin: 20px auto;
  width: 500px;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-top: 10px solid rgb(255, 94, 13);
}
.items-head p {
  padding: 5px 20px;
  margin: 10px;
  color: rgb(255, 94, 13);
  font-weight: bold;
  font-size: 20px;
}
.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid rgb(255, 94, 13);
}
.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
  height: 300px;
}
.container3{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;flex-wrap: wrap;
}
.items-body-content {
  padding-right: 0px;
  font-size: 13px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: justify;
}
.items-body-content:hover {
  border-radius: 5px;
  background-color: rgb(115, 136, 113);
  color:white;
}

@media screen and (max-width:585px) {
  .items{
    width: 80vw;
    height: 400px;
  }
  .items-body{
    height: 70%;
  }
}


.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 15px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.copyright-area{
  background: #202020;
  padding: 15px;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 0px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter h1 {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media screen and (min-width:521px) and (max-width:1076px) {
  .welcome{
    font-size: 30px;
  }
}
@media screen and (max-width:521px) {
  .welcome{
    padding-left:20px;
    padding-right: 30%;
    font-size: 25px;
    bottom: 30%;
  }
}

.extraInfo {
  padding-top: 0px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard {
  display: flex;
  background-color: #efefef;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  min-height: 165px;
  max-height: 167px;
  margin: 5px auto;
  width: 100%;
  border: none;
  justify-content: flex-start;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
  gap: 20px;
  padding-left: 20px;
}

.profileCard:hover {
  cursor: pointer;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.profileCard .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.profileCard .name {
  font-size: 1.2rem;
  color: orangered;
}

.profileCard .desg {
  font-size: 1.0rem;
  font-weight: 700;
}

.profileCard .logo1 {
  width: 150px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  height: 150px;
  place-self: center;
}
.carousal {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  column-gap: 20px;
  box-sizing: content-box;
  height: 350px;
  overflow: hidden;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
  padding: 10px 10px;
}
.about {
  max-height: 450px;
  display: grid;
  grid-template-rows: auto 1fr;
}
.heading {
  display: flex;
  justify-content: justify;
  margin-left: 40px;
  align-items: center;
  color: orangered;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 15px 5px;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
  background-color: white;
  column-gap: 50px;
}

.tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50px;
  overflow: hidden;
  padding: 5px;
  background-color: white;
}
.tab {
  background: white;
  border-color: #808080;
  border: 2px solid;
  border-radius: 1.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.tab:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tab:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.activeTab {
  font-weight: 700;
  color: white;
  background: #f6931d;
}
.about .body {
  overflow: auto;
  padding-top: 5px;
  margin-left: 40px;
  font-weight: 400;
  color: dimgray;
  line-height: 150%;
  text-align: justify;
}
.body {
  background-color: white;
}
.btns {
  display: grid;
  grid-template-rows: auto auto;
}
.btnsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media(max-width: 584px){
  .btnsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
 }

.btnsGrid span {
  box-shadow: inset 0px 0px 15px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  border: 1px solid blue;
  border-radius: 5px;
}
.btnsGrid span a img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 38%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btnsGrid p {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
  color: black;
}
.btnsGrid span:hover {
  cursor: pointer;
  color: orangered;
}
.hidden {
  display: none;
  overflow: hidden;
}
.course{
  color: white;
  text-align: justify;
}
.head_title{
  color: white;
  background-color: #3B5998;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}
.page_content{
  min-height: 400px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  font-size: 15px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 2;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.page_content h4{
  color: white;
  background-color: rgb(255, 153, 0);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
table.center{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.container4{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container4 .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container4 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details,.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box, .select{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.footer-widget a{
  text-decoration: none;
}
